<div>
    <div class="mobile-navigation w-full md:max-w-2xl 2xl:max-w-4xl bg-white order-l fixed bottom-0 top-0 -left-full transition-all	 pt-16 md:bottom-auto md:top-auto h-full z-30 {{ class | default: '' }}" :class="mobileOpen ? 'left-0' : ''"
    >  
        <div class="md:push-c-container-left flex flex-col h-full px-10 md:pl-0 py-10">
            <ul class="space-y-16 md:space-y-24">
                {%- for link in menu.links -%}
                    {% liquid assign has_links = false
                    assign link_url = link.url
                     if link.links.size > 0 
                        assign has_links = true
                        assign link_url = '#'                       
                     endif %}
                    <li class="text-lg font-display uppercase leading-tight items-center" data-item-title="{{ link.title | escape }}" >
                       

                        <a class="flex items-center transition duration-150 hover:text-accent" href="{{ link_url }}" {% if has_links %} @click='setActive({{ forloop.index }})'{% endif %} x-bind:class="isActive == {{forloop.index }} ? 'border-black' : 'border-transparent'">
                            {{- link.title -}}
                            {%- if has_links -%}
                                <span class="ml-2 mb-1 transform" x-bind:class="isActive == {{ forloop.index }} ? 'rotate-180' : ''"> {% render 'icon-chevron-down' %}</span>
                            {%- endif -%}
                        </a>
                       
                            {%- if has_links -%}
                                <ul x-cloak x-transition x-show='isActive == {{ forloop.index }}' class="pt-4 pl-4">
                                    {% for sub_link in link.links %}
                                        <li>
                                            <a class="mb-8 flex items-center border-btransition duration-150 {% if link.active %}border-black{% else %}border-transparent hover:border-black{% endif %}" href="{{ sub_link.url }}">
                                                {{- sub_link.title -}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {%- endif -%}
                       
                    </li>
                {% endfor %}
            </ul>

            <ul class="mt-auto mb-12">
                {%- for link in bottom_menu.links -%}
                    {% liquid assign has_links = false
                     assign link_url = link.url
                     if link.links.size > 0 
                        assign has_links = true
                        assign link_url = '#'                       
                     endif %}
                    <li class="text-sm text-right font-display uppercase leading-tight items-center mb-10" data-item-title="{{ link.title | escape }}" >
                       
                        <a class="hover:text-accent" href="{{ link_url }}">
                            {{- link.title -}}
                        </a>
                       
                    </li>
                {% endfor %}
            </ul>
           
        </div>
    </div>
    <button  v-show="mobileOpen" @click="toggleMenu()" class="w-full h-full fixed inset-0">

    </button>
</div>
