<div  x-transition.scale class="relative"
x-data="{
    activeMenu: 0,
    get isActive() {  return this.activeMenu },
    setActive(_sel) { this.activeMenu = _sel == this.activeMenu ? 0 : _sel },
  }">
    <div class="mobile-navigation md:hidden w-full max-w-screen-md  bg-gray-150 py-10 border-l absolute top-0 z-30 {{ class | default: '' }}" style="display:none"
        x-show="isOpen"
        x-transition:enter="transition-all ease-out duration-200"
        x-transition:enter-start="-left-full"
        x-transition:enter-end="left-0"
        x-transition:leave="transition-all ease-in duration-200"
        x-transition:leave-start="left-0"
        x-transition:leave-end="-left-full"
    >  
        <div class="p-8 flex flex-col h-full">
            <ul>
                {%- for link in menu.links -%}
                    {% assign has_links = false %}
                    {% assign link_url = link.url %}
                    {%- if link.links.size > 0 -%}
                        {% assign has_links = true %}
                        {% assign link_url = '#' %}                       
                    {%- endif -%}
                    <li class="text-sm uppercase leading-tight items-center mb-10" data-item-title="{{ link.title | escape }}" >
                       

                        <a class="flex items-center border-b transition duration-150" href="{{ link_url }}" {% if has_links %} @click='setActive({{forloop.index }})'{% endif %} x-bind:class="isActive == {{forloop.index }} ? 'border-black' : 'border-transparent'">
                            {{- link.title -}}
                            {%- if has_links -%}
                                <span class="ml-2 mb-1 transform" x-bind:class="isActive == {{forloop.index }} ? 'rotate-180' : ''"> {% render 'icon-chevron-down' %}</span>
                            {%- endif -%}
                        </a>
                       
                            {%- if has_links -%}
                                <ul x-cloak x-transition x-show='isActive == {{forloop.index }}' class="pt-4 pl-4">
                                    {% for sub_link in link.links %}
                                        <li>
                                            <a class="mb-8 flex items-center border-btransition duration-150 {% if link.active %}border-black{% else %}border-transparent hover:border-black{% endif %}" href="{{ sub_link.url }}">
                                                {{- sub_link.title -}}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {%- endif -%}
                       
                    </li>
                {% endfor %}
            </ul>

            <ul class="mt-20">
                    <li class="text-sm uppercase leading-tight items-center mb-10">
                    
                        <a class="flex items-center" href="{{ link_url }}">
                            Login
                        </a>
                       
                    </li>

                    <li class="text-sm uppercase leading-tight items-center mb-10">
                    
                        {% comment %}{% render 'layout-select-locale' %} {% endcomment %}
                       
                    </li>

                    <li class="text-sm uppercase leading-tight items-center mb-10">
                    
                        {% render 'layout-social' %}
                       
                    </li>
            </ul>
           
        </div>
      </div>
</div>
