<div class="bg-gray-100 min-w-[110px] p-4">
  <div class="">
    {{ product_ref.featured_image | image_url: width: 80 | image_tag: loading: 'lazy' }}"
  </div>
  <div class="max-h-[40px] overflow-hidden mt-2 leading-4">
    <a href="{{ product_ref.url }}" class="text-xs font-normal">
      {{ product_ref.title | truncate: 30 }}
    </a>
  </div>
  {% assign current_variant = product_ref.selected_or_first_available_variant %}
  <div class="mt-4">
    <form
      action="/cart/add"
      method="post"
      enctype="multipart/form-data"
      id="add-to-cart-{{ product_ref.handle }}-{{ current_variant.id }}">
      <input
        name="id"
        type="hidden"
        value="{{ current_variant.id }}"
        readonly>
      <button
        name="add"
        class="button button-tiny text-xs w-full h-12 js-go-cart-add-to-cart"
        data-id="{{ current_variant.id }}"
        @click="addItem({{ current_variant.id }})">
        Add - {{ current_variant.price | money }}
      </button>
    </form>
  </div>
</div>