<div class="c-container-padded">
  <h1 class="text-2xl md:text-3xl font-bold text-center mb-6 md:mb-16">
    {{ 'collections.title' | t }}
  </h1>

  {% if collections %}
    {% paginate collections by 16 %}
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
        {% for collection in collections %}
          <div>
            <a href="{{ collection.url }}">
              {% if image %}
                {{ collection.image | image_url: width: 400 | image_tag: class: 'w-full h-32 sm:h-48 lg:h-64 xl:h-80 object-cover object-center', loading: 'lazy', sizes: '(min-width: 768px) 450px,400px' }}
              {% endif %}
            </a>

            <div class="mt-4">
              <a href="{{ collection.url }}" class="text-lg font-bold">
                {{ collection.title | escape }}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>

      {% render 'layout-pagination', paginate: paginate %}
    {% endpaginate %}
  {% else %}
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-4 gap-y-8">
      {% for i in (1..4) %}
        <div>
          {% capture placeholder %}collection-{{ i }}{% endcapture %}
          {{ placeholder | placeholder_svg_tag: 'w-full h-full border' }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>