<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="min-h-screen overflow-y-scroll">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{ 'bundle.js' | asset_url | preload_tag: as: 'script' }}

    <title>{{ 'gift_card.title' | t }}</title>

    <meta name="description" content="{{ 'gift_card.title' | t }}">

    {% if canonical_url != blank %}
      <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}


    {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}
    {%  render 'css-vars' %}

    {%- if settings.favicon != blank -%}
        <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {%- endif -%}

  </head>

  <body class="min-h-screen flex flex-col ">
    <main id="app" role="main" class="flex-1">
      {{ content_for_layout }}
    </main>

    <!-- webpack bundle -->
    <script src="{{ 'bundle.js' | asset_url }}" defer="defer"></script>
  </body>
</html>